<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LA TCHATCH</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Accueil <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Tous les posts</a></li>
          <li><a href="#">Creer un post</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Se Connecter</a></li>
          </ul>
        <form class="navbar-form navbar-center">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Chercher un post">
          </div>
          <button type="submit" class="btn btn-default">Trouver</button>
        </form>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>