<app-menu></app-menu>
<div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
          <h2>BIENVENU SUR TCHATCH BLOG </h2>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <!--
      <p>Mise à jour : {{ lastUpdate | async | date : 'short' }}</p>
      <p>Mise à jour (Format 2 ): {{ lastUpdate | async | date : 'yMMMMEEEEd' | uppercase}}</p>
      <ul class="list-group">
        <app-appareil appareilName="Machine à laver"></app-appareil>
        <app-appareil appareilName="Frigo"></app-appareil>
        <app-appareil appareilName="Ordinateur"></app-appareil>

        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil>

        <app-appareil *ngFor = 'let appareil of appareils'
              [appareilName] = "appareil.name"
              [appareilStatus] = "appareil.status"></app-appareil>
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
        -->
    </div>
    <app-contenu> </app-contenu>
  </div>
</div>