<div  class="list-group">
        <div *ngFor="let post of postList" 
            [ngClass]="{
                'list-group-item':true,
                'list-group-item-success' : post.getLoveIt()>0,
                'list-group-item-danger' : post.getLoveIt() < 0
            }"
            href="#" class="list-group-item">
                <span style="float: right">Date de publication :  {{ post.created_at | date | uppercase }}</span>
                <h2 class="list-group-item-heading">{{post.title}}</h2>
                <p class="list-group-item-text">{{post.content}}</p>

                <button type="button"
                (click)="post.increment_loveIt()"
                class="btn btn-success" style="margin-right:5px;">Love it !</button>

                <button type="button"
                (click)="post.decrement_loveIt()"
                 class="btn btn-danger">Don't love It</button>
        </div>
</div>